// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';
@import 'pagos';
@import 'becas';
@import 'estudiantes';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//Fonts Awesome
@import "font-awesome/scss/font-awesome.scss";

@import 'bootstrap-icons/font/bootstrap-icons';

.alert {
    z-index: 9;
    max-width: 300px;
    position: fixed;
    top: 3rem;
    right: 1rem;
    text-align: center;
    animation-name: alerta;
    animation-duration: 2.5s;
    opacity: 0;
}

.container.card {
    padding: 1.5rem 1.5rem;
}

.flc::first-letter {
    text-transform: uppercase;
}

.navegador-principal {
  background-color: #F7F7F7;
  a {
    color: #4985FF;
    font-weight: 600;
  }
}

.main-container {
  background-color: #4985FF;
  min-height: calc(100vh - 128px);
}

.footer {
  background-color: #FACF04;
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem;
  text-align: center;
  color: black;
}

@keyframes alerta {
    0% {
        opacity: 1;
        transform: translateX(100%)
    }
    20% {
        opacity: 1;
        transform: translateX(0%);
    }
    90% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@media print {
  /* All your print styles go here */
  .botones-formulario {
    display: none !important;
  }
  .footer {
    display: none !important;
  }
  #navegador-top {
    display: none !important;
  }
}