.apoderado-title {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    h2 {
        margin: 0;
    }
}

.pre-matricula {
  width: 1080px !important;

  header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
  }

  .form-title {
    font-size: 20px;
    font-weight: bold;
  }

  footer {
    margin-top: 5rem;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    
    p {
      border-top: solid 1px black;
      width: 200px;
      text-align: center;
    }
  }
}